@import url('./cabecalho.css');
@import url('./rodape.css');
@import url('./card.css');


body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-body {
    padding: 25px 50px;
    padding-bottom: 2.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section--main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section--main__title {
    font-size: 2rem;
    font-weight: 700;
}

.section--main__subtitle {
    font-size: 1.2rem;
}

.section--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
}
